# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environment
venv/
.env

# SQLite database
db.sqlite3

# Static / media (optional if generated locally)
static/
media/

# VS Code or IDE folders
.vscode/
.idea/
